<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Orders</h2>

<li><%= link_to "CSV", orders_path(format: "csv") %></li>

<ul>
  <% @orders.each do |order| %>
    <li><%= link_to order.number, "https://#{@shop_session.url}/admin/orders/#{order.id}", target: "_top" %></li>
    <%= order.customer.id %>
    <%= order.customer.first_name %>
    <%= order.customer.last_name %>
    <% order.note_attributes.each do |obj| %>
      <% obj.attributes.values.each do |attr| %>
        <%= attr %>
      <% end %>
    <% end %>
  <% end %>
</ul>

<hr>
