<h1>Import Orders</h1>
<% if @orders.count == 0 %>
    No orders imported.
<% else %>
    <%= @orders.count %> orders imported.
<% end %>

<br/><br/>
<%= link_to 'View orders', orders_path, class:'button' %>