<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<h2>Orders</h2>

<div style="float:right;">
  <%= link_to "Sync Orders", create_path, class: 'button' %>
</div>

<% if @orders.empty? %>
  No orders to display
<% else %>

  <%= link_to "Export CSV (FedEx)", orders_export_path(format: "csv"), class:'button' %>
  <%= link_to "Export CSV (Full)", orders_export_full_path(format: "csv"), class:'button' %>
  <br/><br/>

  <div class="key">
    <ul>
      <li class="blue">Subscription</li>
      <li class="green">Needs Vase/Tools</li>
      <li class="sortable">Sortable</li>
    </ul>
  </div>  

  <table id="dttb">
    <thead>
      <tr>
        <th class="square">S</th>
        <th class="square">V</th>
        <th><%= sortable "order_number", "Order" %></th>
        <th><%= sortable "created_at", "Created" %></th>
        <th><%= sortable "first_delivery", "First Delivery" %></th>
        <th><%= sortable "customer" %></th>
        <th>Line Items</th>
        <th>Fulfillment Status</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |o| %>
        <tr class="parent">
          <td<% if o.tags.downcase.include? "subscription" %> data-attr-sub=true<% end %> class="square">
          </td>
          <td
            <% o.line_items.each do |value| %>
              <% if value.downcase.include? "vase" || "shears" %>
                data-attr-vase=true
              <% end %>
            <% end %>
          class="square" width="100">
          </td>
          <td>
            <%= link_to o.order_number, "https://#{@shop}/admin/orders/#{o.order_id}", target: "_blank" %>
          </td>
          <td>
            <%= o.created_at %>
          </td>
          <td>
            <%= o.first_delivery %>
          </td>
          <td>
            <%= o.customer %>
          </td>
          <td class="has-table">
            <table>
              <% o.line_items.each do |item| %>
                <tr>
                  <td>
                    <%= item %>
                  </td>
                </tr>
              <% end %>
            </table>
          </td>
          <td data-attr-fulfillment=<%= o.fulfillment_status.downcase %>>
            <%= o.fulfillment_status %>
          </td>
        </tr>
        <tr class="child" style="display:none;">
          <td class="square">&nbsp;</td>
          <td class="square">&nbsp;</td>
          <td>
            <%= o.address1 %><br/>
            <%= o.address2 %><br/>
            <%= o.city %>, <%= o.province_code %> <%= o.zip %>
          </td>
          <td><%= o.phone %></td>
          <td><%= o.email %></td>
          <td class="has-table" colspan="2">
            <table>
              <% o.note_attributes.each do |note| %>
                <tr>
                  <td><%= note %></td>
                </tr>
              <% end %>
            </table>
          </td>
          <td><%= o.order_notes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr>

<%= "Displaying #{@orders.count} orders of #{@orders.total_count}" %> <br/>
<%= paginate @orders %>
