// Place all the styles related to the Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: rgb(44, 188, 255);
$green: rgb(172, 255, 172);
$yellow:rgb(255, 245, 191);
$orange: rgb(255, 200, 97);
$grey: #cecece;
$grey-dark: #8d8d8d;
$grey-light: lighten($grey, 10%);

body {
    font-family:'Helvetica', sans-serif;
    font-size:12px;
}
table {
    border-collapse: collapse;
    width:100%;
    padding-top:.5em;
}
th {
    text-align:left;
    font-weight:normal;
    padding:4px 6px;
    a {
        color:white;
        position: relative;
        display:block;  
        text-decoration:none;
        &.current {
            font-weight:bold;
        }
        &:after {
            content: "\25C7";
            display:block;
            position: absolute;
            color:white;
            width:5px;
            height:5px;
            top:-1px;
            right:10px;
        }
        &.asc {
            &:after {
                content: "\25B2";
            }
        }
        &.desc {
            &:after {
                content: "\25BC";
            }
        }
    }
}
thead {
    border: 1px solid #333;
    &:first-child {
        background:#333;
        color:white;
    }
    
}

th, td {
    max-width:10px;
    word-break:break-word;
    &.square {
        width:10px;
    }
}

tbody {
    border-bottom:1px solid $grey;
    tr {
        &.parent {
            height:35px;
            &:hover {
                background:$grey-light;
            }
        }
        &.parent:nth-child(3n+3) {
            background:$grey-light;
            cursor:pointer;
        }
        &.visible {
            display:block;
        }
        &.child {
            background:lighten($grey, 5%);
            box-shadow:inset 0 2px 3px darken($grey,15%);
            td {
                padding-top:5px;
                padding-bottom:5px;
            }
        }
    }
}

table.dataTable tbody td,
td {
    padding:2px 6px;
    border:1px solid $grey;
    border-width:1px 1px 0 0;
    line-height: 12px;
    &[data-attr-sub="true"] {
        background:$blue;
    }
    &[data-attr-vase="true"] {
        background:$green;
    }
    &[data-attr-fulfillment="unfulfilled"] {
        background:$yellow;
    }
    &[data-attr-fulfillment="partial"]{
        background:$orange;
    }
    &.has-table {
        tbody {
            border:none;
        }
        tr {
            &:hover {
                background:transparent;
            }
            &:last-child {
                td {
                    border-bottom:none;
                }
            }
        }
        td {
            padding:5px 0;
            border-width:0 0 1px 0;
        }
    }
}

.button {
    text-decoration:none;
    padding:8px 10px;
    background:orange;
    color:white;
    display:inline-block;
    text-align:center;
}

// Key
.key {
    margin-bottom: 1em;
    ul {
        margin:0;
        padding:0;
    }
    li {
        display:inline-block;
        margin-right: .8em;
        &:before {
            content:"";
            width:10px;
            height:10px;
            display:inline-block;
            margin-right: 5px;
        }
        &.green {
            &:before {
                background: $green;
            }
        }
        &.blue {
            &:before {
                background: $blue;
            }
        }
        &.sortable {
            padding-left:15px;
            position: relative;
            &:before {
                content:"\25C7";
                display:block;
                position:absolute;
                left:0;
                top:-2px;
            }
        }
    }
}

// Kaminari pagination
.pagination {
    padding:1em 0;
    float:left;
    span.current,
    a {
        padding:.6em 1em;
    }
    a {
        background: $blue;
        color:white;
        text-decoration:none;
        display:inline-block;
    }
}